@import '../../../_variables';

.games.module {

  .games.list {

    .game.item {

      .title {
        display: block;
        
        .date {
          float: right;
        }
      }

      .creator {
        display: block;
      }
    }
  }
}