@import '../../../_variables';

.game.board.module {
  height: 40vh;
  width: $full;
  margin: $space-mini auto;
  padding: 0;
  background-color: $secondary-color;

  @media (min-width: $phone-width) {
    width: $three-quarters;
  }

  @media (min-width: $tablet-width) {
    width: $two-thirds;
  }

  @media (min-width: $laptop-width) {
    width: $half;
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
    height: 8vh;
    margin: 0;
    padding: 0;
    border-left: $space-mini solid $light;
    border-right: $space-mini solid $light;

    .cell {
      cursor: pointer;
      flex: 1;
      padding: $space-base;
      box-shadow: 0 0 0 $space-atomic $light;
      
      &:hover {
        background-color: $highlight-color;
      }
    }
  }
}