@import '../../../_variables';

.game.details.module {
  display: flex;
  flex-wrap: wrap;
  top: $space-base;
  margin: auto;
  padding: 0;
  z-index: 2;

  @media (min-width: $phone-width) {
    width: $three-quarters;
  }

  @media (min-width: $tablet-width) {
    width: $two-thirds;
  }

  @media (min-width: $laptop-width) {
    width: $half;
  }

  .player {
    flex: 1;
    margin: 0;

    &.creator {
      text-align: left;

      .label {
        border-top-left-radius: $space-mini;
        border-top-right-radius: $space-base;
      }
    }

    &.destroyer {
      text-align: right;

      .label {
        border-top-left-radius: $space-base;
        border-top-right-radius: $space-mini;
      }
    }
  }
}