@import '../../../_variables';

.game.details.module {
  padding: 0;
  z-index: 2;

  .player {
    position: absolute;
    margin: 0;
    text-align: center;

    &.creator {
      left: 0;
      bottom: $space-mini;

      .label {
        border-top-right-radius: $space-small;
      }
    }

    &.destroyer {
      right: 0;
      top: $space-micro;

      .label {
        border-bottom-left-radius: $space-small;
      }
    }

    .label.username {
      background-color: $negative-color;
      color: $light;
    }
  }
}