@import '../../../_variables';

.games.module {
  padding: 0;

  .games.list {

    .game.item {
      margin: 0;
      padding: $space-base;
      border-bottom: $space-micro solid $neutral-color;

      &:last-child {
        border: 0;
      }

      &:hover {
        background-color: $offset-color;
      }

      .route.link {
        text-decoration: none;

        .title {
          display: block;
          margin: 0;

          .date {
            float: right;
          }
        }

        .creator {
          display: block;
        }
      }
    }
  }
}