@import '../../../_variables';

.logo.module {
  padding: $space-mini;
  background-color: $secondary-color;
  text-align: center;
  z-index: 1;

  .logo {
    cursor: pointer;
    color: $offset-color;
    text-decoration: none;

    .fa {
      color: $primary-color;
    }

    &:hover {
      color: $primary-color;
    }
  }
}