@import '../../../_variables';

.logo.module {
  padding: $space-mini;
  box-shadow: 0 0 $space-micro 0 $secondary-color;
  background-color: $offset-color;
  text-align: center;

  .logo {
    cursor: pointer;
    color: $secondary-color;
    text-decoration: none;
  }
}