@import '../../../_variables';

.menu.module {
  padding: 0;

  .actions.module {
    padding: 0;

    .button {
      position: fixed;
      bottom: 0;
      margin: $space-micro;
      z-index: 1;

      &.left {
        left: 0;
      }

      &.right {
        right: 0;
      }
    }
  }
}