@import '../../../_variables';

.game.boards.module {
  position: fixed;
  left: 0;
  top: 0;
  width: $full;
  height: $full;
  padding: 0;

  .game.board.module {
    width: $full;
    margin: $space-jumbo auto;
    padding: 0;
    border: $space-mini solid $highlight-color;
    border-bottom-right-radius: $space-mini;
    border-bottom-left-radius: $space-mini;

    @media (min-width: $phone-width) {
      width: $three-quarters;
    }

    @media (min-width: $tablet-width) {
      width: $two-thirds;
    }

    @media (min-width: $laptop-width) {
      width: $half;
    }

    .grid {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: stretch;
      height: $fluid-three-quarters;
      margin: 0;
      padding: 0;

      .cell {
        cursor: pointer;
        flex: 0 0 20%;
        padding: $space-base;
        box-shadow: 0 0 0 $space-quantum $highlight-color;

        &:hover {
          background-color: rgba($highlight-color, 0.5);
        }

        &.selected {
          background-color: rgba($primary-color, 0.5);
        }

        &.target {
          background-color: rgba($secondary-color, 0.5);
        }

        &.missed {
          background-color: rgba($caution-color, 0.5);
        }

        &.destroyed {
          background-color: rgba($negative-color, 0.5);
        }
      }
    }

    .actions.module {
      position: absolute;
      padding: 0;
      z-index: 1;

      .centered.button {
        width: $half;
        border-bottom-left-radius: $space-base;
        border-bottom-right-radius: $space-base;
      }
    }
  }
}