@import '_variables';

// button

.button {
  display: inline-block;
  cursor: pointer;
  margin: 0;
  padding: $space-tiny $space-base;
  outline: 0;
  border: 0;
  border-radius: $space-micro;
  background-color: $link-color;
  color: $light;
  font-size: $space-base;

  &.primary {
    background-color: $primary-color;
    color: $light;

    &:hover {
      background-color: $secondary-color;
      color: $light;
    }
  }

  &.secondary {
    background-color: $secondary-color;
    color: $light;

    &:hover {
      color: $primary-color;
    }
  }

  &.icon {
    padding: $space-mini $space-tiny - $space-quantum;
    font-size: $font-size-base + $font-size-tiny;
  }

  &.centered {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  &.menu {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: $space-micro;
    z-index: 1;
  }
}

// view

.view {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
}

// module

.module {
  display: block;
  position: relative;
  margin: 0;
  padding: $space-base;
}

// title

.title {
  margin: 0;

  &.centered {
    text-align: center;
  }
}

// list

.list {
  margin: 0;
  list-style-type: square;

  &.unstyled {
    padding: 0;
    list-style-type: none;
  }

  &.ordered {
    list-style-type: upper-hexadecimal;
    text-indent: initial;
  }

  &.inline {
    display: inline;
    padding: 0;
    list-style-type: none;

    .item {
      display: inline;
    }
  }
}

// forms

.input.group {
  display: flex;
  margin-bottom: $space-base;

  .label {
    vertical-align: middle;
    padding: ($space-small - $space-atomic) $space-small;
    border-radius: $space-micro;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background: $neutral-color;
  }

  .input {
    flex: 1;
    margin: 0;
    padding: $space-tiny;
    outline: 0;
    border: $space-micro solid $neutral-color;
    border-radius: $space-micro;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: $background-color;
    line-height: $line-height-base;
    font-size: $font-size-base;
  }
}

// messages and alerts

.message {
  margin-bottom: $space-tiny;
  font-size: $font-size-base;
  text-align: center;
}