@import '_variables';

// button

.buttons {
  display: block;
  width: $full;
}

.button {
  display: inline-block;
  cursor: pointer;
  margin: 0;
  padding: $space-tiny $space-base;
  outline: 0;
  border: 0;
  border-radius: $space-micro;
  background-color: $link-color;
  color: $light;
  font-size: $space-base;

  &.primary {
    background-color: $primary-color;
    color: $light;

    &:hover {
      background-color: $secondary-color;
      color: $light;
    }
  }

  &.secondary {
    background-color: $secondary-color;
    color: $light;

    &:hover {
      color: $primary-color;
    }
  }

  &.icon {
    padding: $space-mini $space-tiny - $space-quantum;
    font-size: $font-size-base + $font-size-tiny;
  }

  &.centered {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}

// view

.view {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
}

// module

.module {
  display: block;
  position: relative;
  margin: 0;
  padding: $space-base;
}

// title

.title {
  margin: 0;

  &.centered {
    text-align: center;
  }
}

// list

.list {
  margin: 0;
  list-style-type: square;

  &.unstyled {
    padding: 0;
    list-style-type: none;
  }

  &.ordered {
    list-style-type: upper-hexadecimal;
    text-indent: initial;
  }

  &.inline {
    display: inline;
    padding: 0;
    list-style-type: none;

    .item {
      display: inline;
    }
  }
}

// divider

.divider {
  display: block;
  user-select: none;
  margin: $space-base 0;
  background-color: $neutral-color;
  color: $secondary-color;
  font-size: $font-size-tiny;
  line-height: $line-height-base;

  &.versus {
    display: table;
    white-space: nowrap;
    width: $full;
    height: auto;
    margin: 0;
    overflow: hidden;
    background-color: $negative-color;
    color: $light;
    text-align: center;
  }
}

// label

.label {
  padding: $space-micro $space-tiny;
  border-radius: $space-micro;
  background-color: $neutral-color;
  font-size: $font-size-small;
}

// form

.form {
  width: $full;
  margin: $space-giant auto $space-base;

  @media (min-width: $phone-width) {
    width: $three-quarters;
  }

  @media (min-width: $tablet-width) {
    width: $half;
  }

  @media (min-width: $laptop-width) {
    width: $third;
  }

  @media (min-width: $desktop-width) {
    width: $quarter;
  }

  .input.group {
    display: flex;
    position: relative;
    margin-bottom: $space-large;

    label,
    .label {
      vertical-align: middle;
      padding: ($space-small - $space-atomic) $space-small;
      border-radius: $space-micro;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      background: $neutral-color;
      font-size: $space-base;

      &.error {
        position: absolute;
        top: $space-large + $space-small;
        left: 0;
        width: $full;
        padding: $space-mini;
        border: $space-micro solid $neutral-color;
        color: $negative-color;
        font-size: $font-size-small;
        text-align: center;
      }
    }

    input,
    .input {
      flex: 1;
      margin: 0;
      padding: $space-tiny;
      outline: 0;
      border: $space-micro solid $neutral-color;
      border-radius: $space-micro;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      background: $background-color;
      line-height: $line-height-base;
      font-size: $font-size-base;
    }
  }
}

// message

.message {
  margin-bottom: $space-tiny;
  font-size: $font-size-base;
  text-align: center;

  &.centered {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
  }
}