@import '_variables';

.left {
  float: left;
  text-align: left;
}

.right {
  float: right;
  text-align: right;
}

.highlight {
  background-color: $highlight-color;
}

.emphasis {
  color: $gray;
}

.hidden {
  display: none !important;

  &.mobile {

    @media (min-width: $tablet-width) {
      display: inline-block !important;
    }
  }
}

// wildcard

*,
*::before,
*::after {
  box-sizing: border-box;
}