@import '../../_variables';

.account.view {
  padding: $space-base;

  .title {
    margin: $space-base auto;
    text-align: center;
  }

  .form {
    width: $half;
    margin: $space-base auto;

    .input.group {
      display: flex;
      margin-bottom: $space-tiny;

      .input {
        flex: 1;
      }
    }
  }
}