@import '../../_variables';

.battle.view {
  border: $space-micro solid $negative-color;
  background: $background-image;
  background-size: cover;
  background-position: $half $half;
  background-repeat: no-repeat;
}