@import '../../_variables';

//@TODO: images not being found - investigate
.battle.view {
  background: $background-image;
  background-size: cover;
  background-position: $half $half;
  background-repeat: no-repeat;
}